<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Casas</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
</head>
<body>
<h1>CASAS</h1>
<p>
    <a th:text="Añadir"  th:href="@{/houses/create}"> AgregarCasa </a>
</p>
<table>
    <tr>
        <th>NOMBRE</th>
    </tr>
    <tr th:each="house : ${houses}">
        <td>
            <a th:href="@{/house/{name}(name=${house.getName()})}" th:text="${house.getName()}">Name</a>
            <a th:href="@{/house/update/{name}(name=${house.getName()})}">Editar</a>
            <a th:href="@{/house/delete/{name}(name=${house.getName()})}">Eliminar</a>
        </td>
    </tr>
</table>
</body>
</html>